body {
  margin: 0;
}

.hero {
  width: 100vw;
  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: url(/HTML.BILDER/BILD.1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.btn {
  color: orange;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid orange;
  text-decoration: none;
}

.btn:hover {
  background-color: orange;
  color: black;
}

.hero-inner {
  color: orange;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  min-height: 100vh;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav a {
  color: orange;
  border: 2px solid orange;
  padding: 16px;
  border-radius: 2em;
  text-decoration: none;
  margin-top: 5px;
}

nav a:hover {
  color: black;
  background-color: darkorange;
}

/* Texten i hompage2.html*/

.homepagetext {
  width: 45vw;
  margin: auto;
  color: orange;
  padding-top: 15vh;
}

h4 {
  text-align: center;
}

/* Innehållet i Moïse.html*/

.moisecontent {
  width: 45vw;
  margin: auto;
  color: orange;
  padding-top: 15vh;
  margin-left: 10em;
}
p {
  background-color: black;
}

h1 {
  text-align: center;
  background-color: black;
}

.g-image {
  float: right;
  margin-right: 8em;

  border-radius: 10px;
  border: 3px solid orange;
  position: absolute;

  left: 65%;
  top: 30%;
}

/* Innehållet i Hobbies.html*/

.hobbies-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hobbies-content a {
  text-decoration: none;
  margin-top: 3em;
  color: orange;
  border: 2px solid orange;
  border-radius: 3px;
  padding: 4px;
  margin-right: 2px;
}

.hobbies-content a:hover {
  color: black;
  background-color: orange;
}

.games {
  color: orange;

  width: 45vw;
  margin: auto;
  color: orange;
  padding-top: 15vh;
  margin-left: 4em;
}

.series {
  width: 45vw;
  margin: auto;
  color: orange;
  padding-top: 15vh;
  margin-left: 4em;
}

.movies {
  width: 45vw;
  margin: auto;
  color: orange;
  padding-top: 15vh;
  margin-left: 4em;
}

.music {
  width: 45vw;
  margin: auto;
  color: orange;
  padding-top: 15vh;
  margin-left: 4em;
}

.hobbies-end {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid orange;
}

.hobbies-end a {
  color: orange;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
